
  
  .bollard-main {
    background-color: #bcc3bd;
  }
  .bollard-container {
    padding: 20px;
    background-color: #f7d7bc;
  }
  .bollard-form-container {
    background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 10px #0000001a;
  margin: 20px auto;
  max-width: 900px;
}
.bollard-flag {
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #000000;
  font-family: "Moveo Sans W00 Bold";
}
.bollard-descript, .wheel-descript {
  font-size: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.bollard-form-box {
  font-size: 32px;
  text-align: center;
  color: #64340d;
  margin-bottom: 10px;
}
.bollard-form-descript {
  font-size: 20px;
    color: #8b4c18;
    text-align: center;
    margin-bottom: 30px;
}
.first-bollard-input,
.bollard-company-input,
.bollard-emailphone-input,
.bollard-address-input-container,
.bollard-section,
.wheel-section,
.input-message-bollard-container
{
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px #00000084;
}
.submit-bollard {
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
}
.equipment-list, .bollard-list, .wheel-list, .reflective-item, .size-list, .post-list, .bracket-list, .PPE-item {
  font-size: 3rem;
  color: #000;
  text-align: center;
  list-style: none;
  margin: 20px auto;
  font-weight: 600;
  font-family: "Moveo Sans W00 Bold";
}
.message-bollard-text {
  font-size: 1.5rem;
  height: 20rem;
  font-family: Arial, Helvetica, sans-serif;
}
.bollard-img-section, .wheel-img-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bollard-img-section img, .wheel-img-section img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .bollard-flag {
    font-size: 5rem;
  }
  .bollard-descript, .wheel-descript {
    font-size: 2.5rem;
  }
  .bollard-form-box {
    font-size: 3rem;
  }
  .bollard-form-descript {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1200px) and (orientation: portrait) {
  .bollard-flag {
    font-size: 5rem;
  }
  .bollard-descript, .wheel-descript {
    font-size: 2rem;
  }
  .bollard-form-box {
    font-size: 2.5rem;
  }
  .bollard-form-descript {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) and (orientation: portrait) {
    .bollard-flag {
    font-size: 3rem;
  }
  .bollard-descript, .wheel-descript {
    font-size: 1.5rem;
  }
  .bollard-form-box {
    font-size: 2.5rem;
  }
  .bollard-form-descript {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) and (orientation: landscape) {
  .bollard-flag {
    font-size: 2.5rem;
  }
  .bollard-descript, .wheel-descript {
    font-size: 1.5rem;
  }
  .bollard-form-box {
    font-size: 2.5rem;
  }
  .bollard-form-descript {
    font-size: 1.5rem;
  }
  .bollard-img-section, .wheel-img-section  {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
    .bollard-flag {
      font-size: 2.5rem;
    }
    .bollard-descript, .wheel-descript {
      font-size: 1.5rem;
    }
    .bollard-form-box {
      font-size: 2.5rem;
    }
    .bollard-form-descript {
      font-size: 1.5rem;
    }
    .bollard-img-section, .wheel-img-section  {
      flex-direction: column;
      align-items: center;
    }
}