
  
  .bollard-main {
    background-color: #bcc3bd;
  }
  .bollard-container {
    background-color: #f7d7bc;
  }
  .bollard-form-container {
    background-color: #e7e7e7;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.bollard-address-input {
  font-family: "Moveo Sans w00 Regular";
  margin: 50px;
  margin-right: 0;
  position: relative;
  padding-left: 15px;
  display: flex;
}
  .bollard-flag {
    margin: 0 auto;
    font-size: 100px;
    text-align: center;
    font-family: "Kairos W04 Extended Bold";
  }
  .wheel-descript {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    font-family: "Moveo Sans W00 Regular";
  }
  .bollard-descript {
    text-align: center;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
  }
  .bollard-form {
    width: 90%;
    margin: 0 auto;
    content: normal;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    background-color: #e7e7e7;
}
.bollard-form-box {
  text-align: center;
    font-size: 50px;
}
.bollard-form-descript {
  font-style: normal;
  text-align: center;
  text-emphasis: none;
  margin: 0px;
  font-size: 20px;
  font-family: "Moveo Sans W00 Regular";
  padding-bottom: 50px;
}
.bollard-name {
  margin-bottom: 50px;
  padding: 0;
  font-size: 50px;
  font-style: inherit;
}
.bollard-company-input {
  margin: 50px;
}

.bollard-addr-input,
.bollard-city-input,
.bollard-state-input,
.bollard-zip-input {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}
.bollard-company-label,
.bollard-emailphone-label,
.bollard-address-label,
.bollard-bollard-label,
.wheel-label,
.message-bollard-label
 {
  margin-bottom: 50px;
  padding: 0;
  font-size: 50px;
  font-style: inherit;
}
.bollard-first-name-label,
.bollard-last-name-label,
.bollard-companylabel,
.bollard-email-label,
.bollard-phone-label,
.bollardaddress-label,
.bollard-city-label,
.bollard-state-label,
.bollard-zip-label,
.bollard-section-label,
.wheel-section-label
 {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  font-size: 20px;
}
.bollard-firstname-input,
.bollard-lastname-input,
.bollard-companyinput,
.bollard-emailinput,
.bollard-phoneinput,
.bollard-addressinput,
.bollard-cityinput,
.state-bollard-box,
.bollard-zipinput,
.bollard-select,
.quantity-bollard-input,
.wheel-select,
.quantity-wheel-input {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.submit-bollard-quantity,
.removebollard-quantity,
.submit-wheel-quantity,
.removewheel-quantity {
  background-color: #e67e22;
  position: relative;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 200px;
  color: #fff;
}
.bollard-section,
.wheel-section {    
  display: inline-block;
align-items: center;
margin-bottom: 20px;
margin-top: 20px;
}
.added-bollard-label,
.added-wheel-label {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}
.bollard-list,
.wheel-list {
  font-size: 30px;
  font-family: "Moveo Sans W00 Regular";
  list-style: none;
}

.bollard-quantity-list
.wheel-quantity-list {
  font-size: 30px;
  font-family: "Moveo Sans W00 Regular";
  list-style: none;
}
.bollard-img-section {
    display: flex;
      justify-content: flex-start;
      position: relative;
      margin-bottom: 30px;
      width: 100%;
      margin-left: 20%;
} 
.wheel-img-section {
  display: flex;
      justify-content: flex-start;
      position: relative;
      margin-bottom: 30px;
      margin-left: 0%;
      width: 100%;
}

.first-bollard-input,
.bollard-emailphone-input,
.bollard-address-input-container
{
  margin: 40px;
  display: flex;
}
.bollard-img-container {
  flex: 0 0 33.33%;
  text-align: center;
  display: block;
  position: relative;
  width: 100%;
} 
.bollard-img2-container {
  flex: 0 0 33.33%;
  display: block;
  margin-left: 50px;
  position: relative;
  width: 100%;
}
.bollardimg {
  width: 100%;
  margin: 10px;
}
.bollardimg2 {
  width: 100%;
  margin: 10px;
}
.wheelimg, .wheelimg2 {
  width: 100%;
  margin: 10px;
}

.wheel-img-container {
  flex: 0 0 33.33%;
  text-align: center;
  display: block;
  position: relative;
  width: 100%;
}
.wheel-img2-container {
  flex: 0 0 33.33%;
    display: block;
    margin-left: 150px;
    position: relative;
    width: 250%;
}
.wheel-type, .wheel2-type {
  font-size: 18px;
  padding-left: 140px;
}
.bollard-type, 
.bollard2-type{
  font-size: 18px;
  padding-left: 140px;
}
.bollard-note,
.wheel-note,
.message-bollard-note {
  font-style: normal;
  text-align: center;
  text-emphasis: none;
  margin: 0px;
  font-size: 20px;
  font-family: "Moveo Sans W00 Regular";
  padding-top: 30px;
}

.message-bollard-text {
  font-style: normal;
  text-align: left;
  text-emphasis: none;
  font-size: 20px;
  font-family: "Moveo Sans W00 Regular";
  width: 100%;
  height: 300px;
}
.submit-bollard {
  background-color: #e67e22;
    position: relative;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    color: #fff;
    align-self: auto;
}
@media screen and (min-width: 240px) and (max-width: 320px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

.bollard-flag {
  font-size: 25px;
}
.bollard-descript 
 {
  width: 100%;
  margin: 0;
  text-align: center;
}
.bollard-form-container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 200px;
  display: block;
}
.wheel-descript {
  width: 100%;
  margin: 0;
  text-align: center;
  padding-top: 10px;
}
.bollard-form {
  width: 90%;
  margin: 0 auto;
}
.bollard-form-box {
  padding-top: 10px;
  font-size: 33px;
}
.bollard-name,
.bollard-company-label, 
.bollard-emailphone-label, 
.bollard-address-label, 
.bollard-bollard-label, 
.wheel-label, 
.message-bollard-label {
  font-size: 33px;
}
.first-bollard-input,
.bollard-emailphone-input,
.bollard-address-input-container
{
  margin: 0;
  padding-top: 10px;
  display: block;
}
.bollard-company-input {
  margin: 0;
  padding-top: 10px;
}
.bollard-address-input {
  padding-bottom: 30px;
    margin: 0px;
    margin-right: 10px;
    display: block;
    padding-left: 0px;
}
.bollard-firstname-input, 
.bollard-lastname-input, 
.bollard-companyinput, 
.bollard-emailinput, 
.bollard-phoneinput, 
.bollard-addressinput, 
.bollard-cityinput, 
.state-bollard-box, 
.bollard-zipinput, 
.bollard-select, 
.quantity-bollard-input, 
.wheel-select, 
.quantity-wheel-input {
  font-size: 12px;
}
.bollard-addr-input, 
.bollard-city-input, 
.bollard-state-input, 
.bollard-zip-input {
  padding-left: 0;
}
.bollard-img-section, .wheel-img-section {
    display: block;
    width: 83%;
    margin-left: 0px;
    margin-right: 10px;
}
.bollardimg, .bollardimg2, .wheelimg, .wheelimg2 {
  width: 120%;
  margin: 0px;
}
.bollard-type, .bollard2-type, .wheel-type, .wheel2-type {
  padding-left: 40px;
}
.bollard-img2-container, .wheel-img2-container {
  width: 100%;
  margin-left: 0;
}
.submit-bollard-quantity, 
.removebollard-quantity, 
.submit-wheel-quantity, 
.removewheel-quantity {
  margin-left: 0;
  font-size: 17px;
}
.wheel-section {
  display: block;
  max-width: 100%;
  margin-left: 0px;
  margin-right: 10px;
}
.message-bollard-text {
  width: 180px;
  margin-left: 0;
  height: 300px;
}
.submit-bollard {
  font-size: 18px;
    margin-left: 8px;
}
}
@media screen and (min-width: 240px) and (max-width: 320px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .bollard-flag {
    font-size: 35px;
  }
  .bollard-descript 
   {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .wheel-descript {
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 10px;
  }
  .bollard-form {
    width: 90%;
    margin: 0 auto;
    content: normal;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
  }
  .bollard-form-box {
    padding-top: 10px;
    font-size: 33px;
  }
  .bollard-email-input {
    padding-bottom: 30px;
    margin: 0px;
    margin-left: -7px;
    padding-left: 0px;
  }
  .bollard-name,
  .bollard-company-label, 
  .bollard-emailphone-label, 
  .bollard-address-label, 
  .bollard-bollard-label, 
  .wheel-label, 
  .message-bollard-label {
    font-size: 33px;
  }
  .first-bollard-input,
  .bollard-emailphone-input,
  .bollard-address-input-container
  {
    margin: 0;
    padding-top: 10px;
    display: block;
  }
  .bollard-company-input {
    margin: 0;
    padding-top: 10px;
  }
  .bollard-address-input {
    padding-bottom: 30px;
      margin: 0px;
      margin-right: 10px;
      display: block;
      padding-left: 0px;
  }
  .bollard-firstname-input, 
  .bollard-lastname-input, 
  .bollard-companyinput, 
  .bollard-emailinput, 
  .bollard-phoneinput, 
  .bollard-addressinput, 
  .bollard-cityinput, 
  .state-bollard-box, 
  .bollard-zipinput, 
  .bollard-select, 
  .quantity-bollard-input, 
  .wheel-select, 
  .quantity-wheel-input {
    font-size: 12px;
  }
  .bollard-addr-input, 
  .bollard-city-input, 
  .bollard-state-input, 
  .bollard-zip-input {
    padding-left: 0;
  }
  .bollard-img-section, .wheel-img-section {
    display: block;
    width: 83%;
    margin-left: 0px;
    margin-right: 10px;
  }
  .bollardimg, .bollardimg2, .wheelimg, .wheelimg2 {
    width: 120%;
    margin: 0px;
  }
  .bollard-type, .bollard2-type, .wheel-type, .wheel2-type {
    padding-left: 40px;
  }
  .bollard-img2-container, .wheel-img2-container {
    width: 100%;
    margin-left: 0;
  }
  .submit-bollard-quantity, 
  .removebollard-quantity, 
  .submit-wheel-quantity, 
  .removewheel-quantity {
    margin-left: 0;
    font-size: 17px;
  }
  .wheel-section {
    display: block;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 10px;
  }
  .message-bollard-text {
    width: 245px;
    margin-left: 0;
    height: 300px;
  }
  .submit-bollard {
    font-size: 18px;
      margin-left: 8px;
  }
}
@media screen and (min-width: 353px) and (max-width: 745px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .bollard-flag {
    font-size: 38px;
  }
  .bollard-descript 
   {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .wheel-descript {
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 10px;
  }
  .bollard-form {
    width: 90%;
    margin: 0 auto;
  }
  .bollard-form-box {
    padding-top: 10px;
    font-size: 40px;
  }
  .bollard-email-input, .bollard-phone-input {
    padding-bottom: 30px;
    margin: 0px;
    margin-left: -7px;
    padding-left: 0px;
  }

  .first-bollard-input,
  .bollard-emailphone-input,
  .bollard-address-input-container
  {
    margin: 0;
    padding-top: 10px;
    display: block;
  }
  .bollard-company-input {
    margin: 0;
    padding-top: 10px;
  }
  .bollard-address-input {
    padding-bottom: 30px;
      margin: 0px;
      margin-right: 10px;
      display: block;
      padding-left: 0px;
  }
  .bollard-addr-input, 
  .bollard-city-input, 
  .bollard-state-input, 
  .bollard-zip-input {
    padding-left: 0;
  }
  .bollard-img-section, .wheel-img-section {
      display: block;
      max-width: 100%;
      margin-left: 0px;
      margin-right: 10px;
  }
  .bollardimg, .bollardimg2, .wheelimg, .wheelimg2 {
    margin: 0px;
  }
  .bollard-type, .bollard2-type, .wheel-type, .wheel2-type {
    padding-left: 40px;
  }
  .bollard-img2-container, .wheel-img2-container {
    width: 100%;
    margin-left: 0;
  }
  .submit-bollard-quantity, 
  .removebollard-quantity, 
  .submit-wheel-quantity, 
  .removewheel-quantity {
    margin-left: 0;
    font-size: 17px;
  }
  .wheel-section {
    display: block;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 10px;
  }
  .message-bollard-text {
    width: 100%;
    margin-left: 0;
    height: 300px;
  }
  .submit-bollard {
    font-size: 18px;
  }
}
@media screen and (min-width: 353px) and (max-width: 745px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .bollard-flag {
    font-size: 70px;
  }
  .bollard-descript 
   {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .wheel-descript {
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 10px;
  }
  .bollard-form {
    width: 90%;
    margin: 0 auto;
  }
  .bollard-form-box {
    padding-top: 10px;
    font-size: 40px;
  }
  .bollard-email-input, .bollard-phone-input {
    padding-bottom: 30px;
    margin: 0px;
    margin-left: -7px;
    padding-left: 0px;
  }
  .first-bollard-input,
  .bollard-emailphone-input,
  .bollard-address-input-container
  {
    margin: 0;
    padding-top: 10px;
  }
  .bollard-company-input {
    margin: 0;
    padding-top: 10px;
  }
  .bollard-address-input {
    padding-bottom: 30px;
      margin: 0px;
      margin-right: 10px;
      padding-left: 0px;
  }
  .bollard-city-state {
    padding-top: 21px;
  }
  .bollard-addr-input, 
  .bollard-city-input, 
  .bollard-state-input, 
  .bollard-zip-input {
    padding-left: 0;
  }
  .bollard-img-section {
      width: 100%;
      margin-left: 12%;
      margin-right: 10px;
  }
  .wheel-img-section {
    width: 100%;
      margin-left: 0;
      margin-right: 10px;
  }
  .bollardimg, .bollardimg2, .wheelimg, .wheelimg2 {
    width: 120%;
    margin: 0px;
  }
  .bollard-type, .bollard2-type, .wheel-type, .wheel2-type {
    padding-left: 40px;
  }
  .bollard-img2-container, .wheel-img2-container {
    width: 100%;
  }
  .submit-bollard-quantity, 
  .removebollard-quantity, 
  .submit-wheel-quantity, 
  .removewheel-quantity {
    margin-left: 0;
    font-size: 17px;
  }
  .wheel-section {
    display: block;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 10px;
  }
  .message-bollard-text {
    width: 534px;
    margin-left: 0;
    height: 300px;
  }
  .submit-bollard {
    font-size: 18px;
  }
}
@media screen and (min-width: 360px) and (max-width: 740px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .bollard-flag {
    font-size: 70px;
  }
  .bollard-descript 
   {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .wheel-descript {
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 10px;
  }
  .bollard-form {
    width: 90%;
    margin: 0 auto;
  }
  .bollard-form-box {
    padding-top: 10px;
    font-size: 40px;
  }
  .bollard-email-input, .bollard-phone-input {
    padding-bottom: 30px;
    margin: 0px;
    margin-left: -7px;
    padding-left: 0px;
  }

  .first-bollard-input,
  .bollard-emailphone-input,
  .bollard-address-input-container
  {
    margin: 0;
    padding-top: 10px;
  }
  .bollard-company-input {
    margin: 0;
    padding-top: 10px;
  }
  .bollard-address-input {
    padding-bottom: 30px;
      margin: 0px;
      margin-right: 10px;
      padding-left: 0;
  }
  .bollard-city-state {
    padding-top: 21px;
  }
  .bollard-addr-input, 
  .bollard-city-input, 
  .bollard-state-input, 
  .bollard-zip-input {
    padding-left: 0;
  }
  .bollard-img-section, .wheel-img-section {
    width: 83%;
    margin-left: 0px;
    margin-right: 10px;
  }
  .bollardimg, .bollardimg2, .wheelimg, .wheelimg2 {
    width: 120%;
    margin: 0px;
  }
  .bollard-type, .bollard2-type, .wheel-type, .wheel2-type {
    padding-left: 40px;
  }
  .bollard-img2-container, .wheel-img2-container {
    width: 100%;
    margin-left: 180px;
  }
  .submit-bollard-quantity, 
  .removebollard-quantity, 
  .submit-wheel-quantity, 
  .removewheel-quantity {
    margin-left: 0;
    font-size: 17px;
  }
  .wheel-section {
    display: block;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 10px;
  }
  .message-bollard-text {
    margin-left: 0;
    width: 100%;
  }
  .submit-bollard {
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .bollard-flag {
    font-size: 67px;
  }
  .bollard-descript 
   {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .wheel-descript {
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 10px;
  }
  .bollard-form {
    width: 90%;
    margin: 0 auto;
  }
  .bollard-form-box {
    padding-top: 10px;
    font-size: 40px;
  }
  .bollard-email-input, .bollard-phone-input {
    padding-bottom: 30px;
    margin: 0px;
    margin-left: -7px;
    padding-left: 0px;
  }

  .first-bollard-input,
  .bollard-emailphone-input,
  .bollard-address-input-container
  {
    margin: 0;
    padding-top: 10px;
  }
  .bollard-company-input {
    margin: 0;
    padding-top: 10px;
  }
  .bollard-address-input {
    padding-bottom: 30px;
      margin: 0px;
      margin-right: 10px;
      padding-left: 0px;
  }
  .bollard-city-state {
    padding-top: 21px;
  }
  .bollard-addr-input, 
  .bollard-city-input, 
  .bollard-state-input, 
  .bollard-zip-input {
    padding-left: 0;
  }
  .bollard-img-section, .wheel-img-section {
    display: flex;
    width: 100%;
    margin-left: 0px;
    margin-right: 10px;
  }
  .bollardimg, .bollardimg2, .wheelimg, .wheelimg2 {
    width: 120%;
    margin: 0px;
  }
  .bollard-type, .bollard2-type, .wheel-type, .wheel2-type {
    padding-left: 40px;
  }
  .bollard-img2-container, .wheel-img2-container {
    width: 100%;
    margin-left: 100px;
  }
  .submit-bollard-quantity, 
  .removebollard-quantity, 
  .submit-wheel-quantity, 
  .removewheel-quantity {
    margin-left: 0;
    font-size: 17px;
  }
  .wheel-section {
    display: block;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 10px;
  }
  .message-bollard-text {
    width: 100%;
    margin-left: 0;
    height: 300px;
  }
  .submit-bollard {
    font-size: 18px;
  }
}
