  /**************************/
  /* FOOTER */
  /**************************/
  
  .footer {
    background-color: #f7d7bc; /* Example background color */
    padding: 20px; /* Example padding */
}

.footer-number {
  color: #000
  } 

  .statement {
    color: #000000;
}

.site-footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-head {

  margin-right: 20px; /* Example margin */
}

.footer-content {
  display: flex;
  flex-direction: column; /* Align items vertically */
}

.footer-navigate {
  display: flex;
  flex-direction: column; /* Align items vertically */
}

.footer-navigate1,
.footer-navigate2 {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove default padding */
}

.footer-navigate1 li,
.footer-navigate2 li {
  margin-bottom: 10px; /* Adjust spacing */
}
.tbslogo {
  width: 300px;
  display: block;
  margin: auto; /* Center the image horizontally */
  margin-bottom: 20px; /* Add margin to move it down */
}

.statement {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
}
.footer-contact {
  flex: 1;
}

.footer-navigate {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.footer-navigate li {
  margin-bottom: 10px; /* Add margin between list items if needed */
}

.footer-nav-link {
  margin-bottom: 10px; /* Add spacing between navigation links */
}

.footer-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }
  
  .footer-nav-link:link,
  .footer-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
  }
  
  .footer-nav-link:hover,
  .footer-nav-link:active {
    color: #cf711f;
  }
  
  .footer-nav-link.nav-cta:link,
  .footer-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
  }
  
  .footer-nav-link.nav-cta:hover,
  .footer-nav-link.nav-cta:active {
    background-color: #cf711f;
  }

  .footer-nav-link-view {
    text-decoration: none; /* Remove default underline */
    color: #bc6706; /* Set text color */
    font-size: 18px; /* Set font size */
    margin-right: 20px; /* Adjust spacing between links if needed */
    /* Add any additional styles you want for the links */
    font-size: 2.7rem;
  }

  .trademark-warning {
    font-size: 30px;
    margin-bottom: 10px;
    color: #000000
  }

  .trademark-img {
    width: 100px;
    margin: auto;
  }

  .warning-trade {
    color: #ff0000
  }
  
.footer-nav-link:link, .footer-nav-link:visited {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2.7rem;
  transition: all 0.3s;
}
.statement {
font-size: 30px;
color: #000000;
margin-top: 10px;
margin-bottom: 20px;
display: inline-block;
}

.footer-number {
font-size: 2.5rem;
} 

@media screen and (min-width: 240px) and (max-width:320px) and (orientation: portrait) {
  .tbslogo {
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
  .footer-nav-link {
    margin-bottom: 10px;
}

.footer-nav-link:link, .footer-nav-link:visited {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2.7rem;
  transition: all 0.3s;
}
.statement {
font-size: 30px;
color: #000000;
margin-top: 10px;
margin-bottom: 20px;
display: inline-block;
}
.footer {
  padding: 0;
}
.footer-number {
color: #000;
font-size: 2.5rem;
} 
.footer-nav-link-view {
  text-decoration: none;
  color: #bc6706;
  font-size: 18px;
  margin-right: 0px;
  font-size: 2.7rem;
}

.footer-navigate {
  text-align: center;
}
}

@media screen and (min-width: 240px) and (max-width:320px) and (orientation: landscape) {
  .tbslogo {
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
  .footer-nav-link {
    margin-bottom: 10px;
}

.footer-nav-link:link, .footer-nav-link:visited {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2.7rem;
  transition: all 0.3s;
}
.statement {
font-size: 30px;
color: #000000;
margin-top: 10px;
margin-bottom: 20px;
display: inline-block;
}

.footer-number {
color: #000;
font-size: 2.5rem;
} 
.footer-nav-link-view {
  text-decoration: none;
  color: #bc6706;
  font-size: 18px;
  margin-right: 0px;
  font-size: 2.7rem;
}

.footer-navigate {
  text-align: center;
}
}

@media screen and (min-width: 340px) and (max-width: 640px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

.footer-navigate {
  text-align: center;
}
}

@media screen and (min-width: 374px) and (max-width: 668px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

.footer-navigate {
  text-align: center;
}
}

@media screen and (min-width: 353px) and (max-width: 745px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .footer-nav-link {
    margin-bottom: 10px;
}

.footer-nav-link:link, .footer-nav-link:visited {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2.7rem;
  transition: all 0.3s;
}
.statement {
font-size: 30px;
color: #000000;
margin-top: 10px;
margin-bottom: 20px;
display: inline-block;
}

.footer-number {
color: #000;
font-size: 2.5rem;
} 
.footer-navigate {
  text-align: center;
}
}

@media (min-width:768px) and (max-width: 1024px) {
.footer-nav-link {
  margin-bottom: 10px;
}
.footer-navigate {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

}

@media (min-width:820px) and (max-width: 1180px) and (orientation: portrait) {
  .footer-nav-link {
    margin-bottom: 10px;
  }

  .footer-navigate {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
  }

@media (min-width:1024px) and (max-width: 1366px) and (orientation: portrait) {
  .footer-nav-link {
    margin-bottom: 10px;
  }

  .footer-navigate {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
  }
