@font-face {
  font-family: "Kairos W04 Extended Bold";
  src: url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.eot");
  src: url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.svg#Kairos W04 Extended Bold")format("svg");
}

@font-face {
  font-family: "Kairos W01 Extended Medium";
  src: url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.eot");
  src: url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.svg#Kairos W01 Extended Medium")format("svg");
}

@font-face {
  font-family: "Moveo Sans W00 Regular";
  src: url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.eot");
  src: url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.svg#Moveo Sans W00 Regular")format("svg");
}

/* Common styles for all devices */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Font faces */

/* Body styles */
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/* General reusable components */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}



.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  font-family: "Kairos W04 Extended Bold";
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: "Kairos W01 Extended Medium";
  transition: all 0.3s;
}

/* Home img section */
.name-container {
  position: relative;
}
.veteran-logo-container {
  padding-top: 20px;
  background-color: #f7d7bc;
}
.veteran-description {
  font-size: 60px;
  font-family: "Kairos W04 Extended Bold";
  text-align: center;
}
.veteran-logo-text {
  font-size: 30px;
  font-family: "Moveo Sans W00 Regular";
  text-align: center;
}
.veteran-logo {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.tbs-name-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-navigation-arrow-left {
  background-color: #e67e22;
  position: relative;
  font-size: 60px;
  margin-bottom: 30px;
  margin: 0 auto;
  display: block;
  width: fit-content;
  color: #fff;
  font-family: "Kairos W04 Extended Bold";
}
.gallery-navigation-arrow-right {
  background-color: #e67e22;
  position: relative;
  font-size: 60px;
  margin-bottom: 30px;
  margin: 0 auto;
  display: block;
  width: fit-content;
  color: #fff;
  font-family: "Kairos W04 Extended Bold";
}


/* Reset styles for larger screens */
  .tbs-name {
    font-family: "Kairos W04 Extended Bold";
    font-size: 8.2rem; /* Adjust font size as needed for smaller screens */
    color: #ddd;
    text-align: center;
  }
  .page-banner__bg-vid-dash {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .page-banner {
    padding: 80px 0 40px 0;
    position: relative;
    overflow: hidden;
    padding-top: 300px;
  }
  .hiring-tbs {
    font-size: 100px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Kairos W04 Extended Bold";
  }
  .workfor {
    font-size: 40px;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: center;
  }
  

.applybutton {
  background-color: #e67e22;
  position: relative;
  font-size: 60px;
  margin-bottom: 30px;
  margin: 0 auto; /* Center horizontally */
  display: block; /* Ensure it takes full width */
  width: fit-content; /* Adjusts width based on content */
  color: #fff;
  font-family: "Kairos W04 Extended Bold";
}


.tbs-name:nth-child(n+2) {
  margin: 0 10px;
}

.tbs-name-below {
  display: block;
  text-align: center;
  color: #ddd;
  font-family: "Kairos W04 Extended Bold";
  font-size: 60px;
}

/* Hero section */
.section-hero {
  background-color: #fdf2e9;
  padding: 10px;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  font-family: "Moveo Sans W00 Regular";
}

.trafficbarrels {
  align-items: center;
  margin-right: 25px;
}

/* Now hiring section */
.now-hiring {
  background-color: rgb(219, 211, 217);
  padding-bottom: 50px;
  padding-top: 5px;
}

.box {
  content: normal;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  width: 1000px; /* Adjust the width as needed */
  margin: auto; /* Center the box horizontally */
}


.hiring-img {
  position: relative;
  left: 900px;
  bottom: 238px;
  height: 150px;
}

.workingmen {
  left: 20px;
  bottom: 250px;
  height: 400px;
}

/* How it works section */
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img2-box {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
}


@media screen and (min-width: 240px) and (max-width:320px) and (orientation: portrait) {
  .tbs-name {
    font-size: 2.5rem;
  }
  .page-banner {
    padding-top: 90px;
}
.veteran-description {
  font-size: 30px;
}
.heading-primary {
  font-size: 3rem;
  text-align: center;
  align-self: start;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.hiring-tbs {
  font-size: 50px;
  
}

.applybutton {
  font-size: 20px;
  text-align: center;
}
}

@media screen and (min-width: 240px) and (max-width:320px) and (orientation: landscape) {
  .tbs-name {
    font-size: 2.5rem;
  }
  .page-banner {
    padding-top: 90px;
}
.veteran-description {
  font-size: 43px;
}
.heading-primary {
  font-size: 3rem;
  text-align: center;
  align-self: start;
}

.hiring-tbs {
  font-size: 50px;
  
}

.applybutton {
  font-size: 20px;
  text-align: center;
}
}

@media screen and (min-width: 353px) and (max-width: 745px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .tbs-name {
    font-size: 2.5rem;
  }
  .page-banner {
    padding-top: 90px;
}
.veteran-description {
  font-size: 48px;
}
.hiring-tbs {
  font-size: 70px;
  
}
.heading-tertiary {
  font-size: 20px;
}
.applybutton {
  font-size: 40px;
  text-align: center;
}
}

@media screen and (min-width: 360px) and (max-width:640px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .tbs-name {
      font-size: 6.8rem;
    }
    
}

@media screen and (min-width: 412px) and (max-width:823px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .tbs-name {
    font-size: 2.6rem;
  }
  
}

@media screen and (min-width: 400px) and (max-width:830px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .tbs-name {
    font-size: 5.8rem;
  }
  
}


@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .tbs-name {
    font-size: 3.2rem;
  }
  .page-banner {
    padding-top: 90px;
}

.hiring-tbs {
  font-size: 80px;
  
}

.applybutton {
  font-size: 60px;
  text-align: center;
}
}

@media screen and (min-width: 800px) and (max-width: 1280px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .tbs-name {
    font-size: 6.8rem;
  
}
}