.ppe-main {
  background-color: #bcc3bd;
}
.ppe-descript {
  margin: 0 auto;
  font-size: 100px;
  text-align: center;
  font-family: "Kairos W04 Extended Bold";
}
  .ppe-container {
    background-color: #f7d7bc;
  }
  .ppe-form-container {
    background-color: #e7e7e7;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .traffic-flag {
    margin: 0 auto;
    font-size: 100px;
    text-align: center;
    font-family: "Kairos W04 Extended Bold";
  }

  .ppe-description {
    margin: 10px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
  }
  
  .ppe-section
  {
    display: inline-block;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .ppe-name,
  .company-ppe-label,
  .emailphone-ppe-label,
  .address-ppe-label,
  .ppe-label,
  .structure-ppe-label,
  .message-ppe-label  {
    margin-bottom: 50px;
    padding: 0;
    font-size: 50px;
    font-style: inherit;
  }
  .ppe-form {
    width: 90%;
    margin: 0 auto;
    content: normal;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    background-color: #e7e7e7;
  }
  .first-ppe-input,
  .emailphone-ppe-input,
  .address-ppe-input
  {
    margin: 40px;
    display: flex;
  }
  .city-ppe-state {
    margin: 0;
    padding-top: 20px;
    padding-left: 0px;
  }
  .first-ppe-label-name,
  .last-ppe-label-name,
  .company-ppe-name-label,
  .email-ppe-name,
  .phone-ppe-label,
  .addr-ppe-label,
  .city-ppe-label,
  .state-ppe-label,
  .zip-ppe-label,
  .select-ppe-label,
  .structure-ppe-name {
    font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
  }
  .first-ppe-name-input,
  .last-ppe-name-input,
  .company-name-ppe-input,
  .email-ppe-box,
  .phone-ppe-box,
  .address-ppe-box,
  .city-ppe-box,
  .state-ppe-box,
  .zip-ppe-box,
  .ppe-quantity-box {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .ppe-form-h1 {
    text-align: center;
    font-size: 50px;
  }
  .ppe-fill {
    font-style: normal;
    text-align: center;
    text-emphasis: none;
    margin: 0px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    padding-bottom: 50px;
  }
  .PPE-list {
    font-size: 30px;
    font-family: "Moveo Sans W00 Regular";
    list-style: none;
  }
  .ppe-select {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .ppe-input {
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .added-PPE-label {
    font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
  }

  .PPE-item {
    font-size: 30px;
    font-family: "Moveo Sans W00 Regular";
    list-style: none;
  }
  .submit-ppe-quantity,
  .remove-ppe-quantity
   {
    background-color: #e67e22;
    position: relative;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 320px;
    color: #fff;
  }
  .name-structure-ppe-input {
    font-family: "Moveo Sans w00 Regular";
    margin: 50px;
    margin-right: 0;
    position: relative;
    padding-left: 15px;
    display: flex;
  }
  .file-ppe-input-container {
    font-family: "Moveo Sans w00 Regular";
    margin: 50px;
    margin-right: 0;
    position: relative;
    padding-left: 15px;
    display: flex;
}
.file-ppe-label input[type="file"] {
  display: none;
}
  .file-ppe-label, 
  .remove-file-ppe-button {
    display: flex;
    background-color: #e67e22;
    color: #fff;
    padding: 10px 20px;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .remove-file-ppe-button {
    margin-left: 70px;
}
  .file-ppefile-input {
    display: flex;
    align-items: center;
  }
  .ppe-img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ppe-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .ppe-img-container {
    margin: 10px;
    text-align: center;
  }
  
  .ppe-img {
    width: 150px; /* Adjust size as needed */
    height: auto;
  }
  
  .ppe-img-text {
    margin-top: 5px;
  }
  .message-ppe-note {
    font-style: normal;
    text-align: center;
    text-emphasis: none;
    margin: 0px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    padding-top: 30px;
  }
  .message-ppe-text {
    width: 100%;
    margin-left: 0;
    height: 300px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    font-style: normal;
    text-align: left;
    text-emphasis: none;
  }
  .submit-ppe {
    background-color: #e67e22;
    position: relative;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
width: 100%;
    color: #fff;
  }

  @media screen and (min-width: 240px) and (max-width: 320px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .ppe-descript {
      font-size: 40px;
    }
    .ppe-name,
  .company-ppe-label,
  .emailphone-ppe-label,
  .address-ppe-label,
  .ppe-label,
  .structure-ppe-label,
  .message-ppe-label {
    font-size: 33px;
  }
  .first-ppe-name-input,
  .last-ppe-name-input,
  .company-name-ppe-input,
  .email-ppe-box,
  .phone-ppe-box,
  .address-ppe-box,
  .city-ppe-box,
  .state-ppe-box,
  .zip-ppe-box,
  .ppe-quantity-box
   {
    font-size: 12px;
  }
  .ppe-select {
    font-size: 5.2px;
  }
  .first-ppe-input,
  .emailphone-ppe-input,
  .address-ppe-input
  {
    margin: 0;
    display: block;
  }
  .submit-ppe-quantity,
  .remove-ppe-quantity,
  .submit-ppe {
    margin-left: 0;
    font-size: 17px;
  }
  .file-ppe-input-container {
    margin: 0px;
    padding-left: 0px;
    display: block;
}
.file-ppefile-input {
  display: block;
}
.file-ppe-label, .remove-file-ppe-button {
  display: block;
}
.remove-file-ppe-button {
  margin-top: 10px;
  margin-left: 33px;
}
    }
    @media screen and (min-width: 240px) and (max-width: 320px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .ppe-descript {
        font-size: 80px;
      }
      .ppe-name,
    .company-ppe-label,
    .emailphone-ppe-label,
    .address-ppe-label,
    .ppe-label,
    .structure-ppe-label,
    .message-ppe-label {
      font-size: 45px;
    }
    .first-ppe-name-input,
    .last-ppe-name-input,
    .company-name-ppe-input,
    .email-ppe-box,
    .phone-ppe-box,
    .address-ppe-box,
    .city-ppe-box,
    .state-ppe-box,
    .zip-ppe-box,
    .ppe-quantity-box
     {
      font-size: 12px;
    }
    .ppe-select {
      font-size: 7.6px;
    }
    .first-ppe-input,
    .emailphone-ppe-input,
    .address-ppe-input
    {
      margin: 0;
      display: block;
    }
    .submit-ppe-quantity,
    .remove-ppe-quantity,
    .submit-ppe {
      margin-left: 0;
    }
    .file-ppe-input-container {
      margin: 0px;
      padding-left: 0px;
      display: block;
  }
  .file-ppefile-input {
    display: block;
  }
  .file-ppe-label, .remove-file-ppe-button {
    display: block;
  }
  .remove-file-ppe-button {
    margin-top: 10px;
    margin-left: 33px;
  }
    }
    @media screen and (min-width: 353px) and (max-width: 745px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .ppe-descript {
        font-size: 90px;
      }
      .ppe-name,
    .company-ppe-label,
    .emailphone-ppe-label,
    .address-ppe-label,
    .ppe-label,
    .structure-ppe-label,
    .message-ppe-label {
      font-size: 45px;
    }
  
    .ppe-select {
      font-size: 7.6px;
    }
    .first-ppe-input,
    .emailphone-ppe-input,
    .address-ppe-input
    {
      margin: 0;
      display: block;
    }
    .submit-ppe-quantity,
    .remove-ppe-quantity,
    .submit-ppe {
      margin-left: 0;
    }
    .file-ppe-input-container {
      margin: 0px;
      padding-left: 0px;
      display: block;
  }
  .file-ppefile-input {
    display: block;
  }
  .file-ppe-label, .remove-file-ppe-button {
    display: block;
  }
  .remove-file-ppe-button {
    margin-top: 10px;
    margin-left: 33px;
  }
    }
    @media screen and (min-width: 353px) and (max-width: 745px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .first-ppe-input, .emailphone-ppe-input, .address-ppe-input {
        margin: 0px;
    }

    .file-ppe-label, .remove-file-ppe-button {
      margin-left: 10px;
    }
    .ppe-select {
      font-size: 17px;
    }
    .submit-ppe-quantity, .remove-ppe-quantity {
      margin-left: 0;
    }
    }
    
   
     