.control-container {
  background-color: #e7e7e7;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.traffic-container {
    background-color: #f7d7bc;
  }
  .traffic-flagger {
    background-color: #bcc3bd;
  }
  .page-control-banner {
    padding: 80px 0 40px 0;
    position: relative;
    overflow: hidden;
    padding-top: 300px;
}

  .map-container {
    text-align: center;
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
  }

  .add-marker {
    background-color: #e67e22;
    position: relative;
    font-size: 30px;
    color: #fff;
    align-items: center;
    text-align: center;
    width: 100%;
}



  .traffic-flag {
    margin: 0 auto;
    font-size: 100px;
    text-align: center;
    font-family: "Kairos W04 Extended Bold";
  }

  .form-center {
    padding-top: 10px;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .traffic-control-descript {
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
  }

  .control-banner-vid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .traffic-control-video-banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.traffic-control-heading {
  color: #fff;
  font-family: "Kairos W04 Extended Bold";
  font-size: 150px;
  text-align: center;
}

.traffic-control-descript {
  color: #fff
}

.submit-control {
  background-color: #e67e22;
    position: relative;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    color: #fff;
}

.control-set {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.control-app-box {
  text-align: center;
  font-size: 50px;
}

.control-fill {
  font-style: normal;
  text-align: center;
  text-emphasis: none;
  margin: 0px;
  font-size: 20px;
  font-family: "Moveo Sans W00 Regular";
  padding-bottom: 50px;
}
.control-name {
  margin-bottom: 50px;
    padding: 0;
    font-size: 50px;
    font-style: inherit;
}

.first-control-input {
  margin: 10px;
  display: flex;
}

.first-control-label-name {
  font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    font-size: 20px;
}

.first-control-name-input {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.last-control-name {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}

.last-control-input {
  font-family: "Moveo Sans w00 Regular";
  margin: 50px;
  margin-right: 0;
  position: relative;
  padding-left: 15px;
  display: flex;
}

.last-control-label-name {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}

.last-control-name-input {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.company-control-label {
  margin-bottom: 50px;
  padding: 0;
  font-size: 50px;
  font-style: inherit;
}

.company-name--input {
  font-family: "Moveo Sans w00 Regular";
  margin: 50px;
  margin-right: 0;
  position: relative;
  padding-left: 15px;
  display: flex;
}

.company-control-name {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}

.company-control-name-input {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.emailphone-control-label {
  margin-bottom: 50px;
  padding: 0;
  font-size: 50px;
  font-style: inherit;
}

.emailphone-control-input {
  margin: 10px;
  display: flex;
}

.email-control-input {
  font-family: "Moveo Sans w00 Regular";
  margin: 50px;
  margin-right: 0;
  position: relative;
  padding-left: 15px;
  display: flex;
}

.email-control-name {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}

.email-control-box {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.phone-control {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}

.name-control-input {
  font-family: "Moveo Sans w00 Regular";
  margin: 50px;
  margin-right: 0;
  position: relative;
  padding-left: 15px;
  display: flex;
}

.phone-control-name {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}

.address-control-label {
  margin-bottom: 50px;
  padding: 0;
  font-size: 50px;
  font-style: inherit;
}

.address-control-input {
  font-family: "Moveo Sans w00 Regular";
  margin: 50px;
  margin-right: 0;
  position: relative;
  padding-left: 15px;
  display: flex;
}

.addr-control-label {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}

.address-control-box {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.state-control-label {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}

.state-control-box {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.city-control-label {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 40px;
  font-size: 20px;
}

.city-control-box {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.zip-control-label {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}

.zip-control-box {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.google-control-label {
  margin-bottom: 50px;
  padding: 0;
  font-size: 50px;
  font-style: inherit;
}

.location-control-note {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  line-height: 30px;
}


.important-control {
  font-family: "Kairos W04 Extended Bold";
  margin-top: 10px;
  line-height: 30px;
}


.structure-control-label {
  margin-bottom: 50px;
  padding: 0;
  font-size: 50px;
  font-style: inherit;
}

.stucture-control-input {
  font-family: "Moveo Sans w00 Regular";
  margin: 50px;
  margin-right: 0;
  position: relative;
  padding-left: 15px;
  display: flex;
}

.structure-control-name {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}

.file-input-control-container {
  display: flex;
  align-items: center;
}

.file-control-label input[type="file"] {
  display: none; /* Hide the default file input */
}

.file-control-label,
.remove-control-file-button {
  display: flex;
  background-color: #e67e22; /* Background color of the button */
  color: #fff; /* Text color of the button */
  padding: 10px 20px; /* Padding around the button text */
  font-size: 2rem;
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.remove-control-file-button {
  margin-left: 70px; /* Add some space between "Choose File" and "Remove" buttons */
}

.message-control-label {
  margin-bottom: 50px;
  padding: 0;
  font-size: 50px;
  font-style: inherit;
}

.message-control-note {
  font-style: normal;
  text-align: center;
  text-emphasis: none;
  margin: 0px;
  font-size: 20px;
  font-family: "Moveo Sans W00 Regular";
  padding-top: 30px;
}

.message-control-text {
  font-style: normal;
  text-align: left;
  text-emphasis: none;
  font-size: 20px;
  font-family: "Moveo Sans W00 Regular";
  width: 100%;
  height: 300px;
}
.controller-warning {
  font-size: 30px;
  margin-bottom: 10px;
  color: #000000;
}
.warning-control {
  color: #ff0000;
}
.bryson-num{
  font-size: 30px;
  margin-bottom: 10px;
  color: #8d3100;
  margin: 10px;
  text-align: center;
  font-family: "Kairos W04 Extended Bold";
} .carson-num 
{
  font-size: 30px;
  margin-bottom: 10px;
  color: #ff5900;
  margin: 10px;
  font-family: "Kairos W04 Extended Bold";
}.jonkell-num {
  font-size: 30px;
  margin-bottom: 10px;
  margin: 10px;
  color: #ff5900;
  font-family: "Kairos W04 Extended Bold";
}
.emergency-carson-contact, .emergency-jonkell-contact {
  margin-top: 10px;
}

@media screen and (min-width: 240px) and (max-width: 320px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .page-control-banner {
    padding-top: 100px;
  }
  .traffic-control-heading {
    font-size: 40px;
  }
  .form-center {
    width: 90%;
  }
  .control-app-box {
    font-size: 50px;
  }
  .control-name, 
  .company-control-label,
  .emailphone-control-label,
  .address-control-label,
  .structure-control-label,
  .google-control-label,
  .message-control-label {
    font-size: 33px;
  }
  .first-control-input,
  .company-name--input,
  .emailphone-control-input {
    margin: 0;
    display: block;
  }
  .first-name {
    margin-left: 0;
  }
  .last-control-name, .company-name--input {
    padding-left: 0;
  }
  .name-control-input, 
  .last-control-input {
    margin: 0;
    padding-left: 0;
  }
  .first-control-name-input, 
  .last-control-name-input, 
  .company-control-name-input,
  .address-control-box,
  .phone-box,
  .email-control-box,
  .state-control-box,
  .city-control-box,
  .zip-control-box {
    font-size: 12px;
  }
  .email-control-input {
    margin: 0;
    padding-left: 0;
  }
  .phone-control {
    padding-left: 0;
  }
  .address-control-input {
    margin: 0;
    padding-left: 0px;
  }
  .zip-control-label {
    padding-left: 25px;
  }
  .map-button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .submit-control, .add-marker {
    font-size: 20px;
  }
}
  @media screen and (min-width: 240px) and (max-width: 320px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .page-control-banner {
      padding-top: 100px;
    }
    .traffic-control-heading {
      font-size: 55px;
    }
    .form-center {
      width: 90%;
    }
    .control-app-box {
      font-size: 70px;
    }
    .control-name, 
    .company-control-label,
    .emailphone-control-label,
    .address-control-label,
    .structure-control-label,
    .google-control-label,
    .message-control-label {
      font-size: 45px;
    }
    .first-control-input,
    .company-name--input,
    .emailphone-control-input {
      margin: 0;
      display: block;
    }
    .first-name {
      margin-left: 0;
    }
    .last-control-name, .company-name--input {
      padding-left: 0;
    }
    .name-control-input, 
    .last-control-input {
      margin: 0;
      padding-left: 0;
    }
    .first-control-name-input, 
    .last-control-name-input, 
    .company-control-name-input,
    .address-control-box,
    .email-control-box,
    .phone-box,
    .state-control-box,
    .city-control-box,
    .zip-control-box {
      font-size: 18px;
    }
    .email-control-input {
      margin: 0;
      padding-left: 0;
    }
    .phone-control {
      padding-left: 0;
    }
    .address-control-input {
      margin: 0;
      padding-left: 0px;
    }
    .zip-control-label {
      padding-left: 25px;
    }
    .map-button {
      margin-top: 30px;
      margin-bottom: 30px;
    }
}
  @media screen and (min-width: 353px) and (max-width: 745px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .page-control-banner {
      padding-top: 110px;
    }
    .traffic-control-heading {
      font-size: 62px;
    }
    .form-center {
      width: 95%;
    }
    .control-app-box {
      font-size: 70px;
    }
    .control-name, 
    .company-control-label,
    .emailphone-control-label,
    .address-control-label,
    .structure-control-label,
    .google-control-label,
    .message-control-label {
      font-size: 50px;
    }
    .first-control-input,
    .company-name--input,
    .emailphone-control-input {
      margin: 0;
      display: block;
    }
    .first-name {
      margin-left: 0;
    }
    .last-control-name, .company-name--input {
      padding-left: 0;
    }
    .name-control-input, 
    .last-control-input {
      margin: 0;
      padding-left: 0;
    }
    .first-control-name-input, 
    .last-control-name-input, 
    .company-control-name-input,
    .address-control-box,
    .email-control-box,
    .phone-box,
    .state-control-box,
    .city-control-box,
    .zip-control-box {
      font-size: 20px;
    }
    .email-control-input {
      margin: 0;
      padding-left: 0;
    }
    .phone-control {
      padding-left: 0;
    }
    .address-control-input {
      margin: 0;
      padding-left: 0px;
    }
    .zip-control-label {
      padding-left: 25px;
    }
    .map-button {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 353px) and (max-width: 745px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .page-control-banner {
      padding-top: 150px;
    }
    .traffic-control-heading {
      font-size: 96px;
    }
    .form-center {
      width: 95%;
    }
    .control-app-box {
      font-size: 70px;
    }
    .control-name, 
    .company-control-label,
    .emailphone-control-label,
    .address-control-label,
    .structure-control-label,
    .google-control-label,
    .message-control-label {
      font-size: 50px;
    }
    .first-control-input,
    .company-name--input,
    .emailphone-control-input{
      margin: 0;
      display: flex;
    }
    .first-name {
      margin-left: 0;
    }
    .last-control-name, .company-name--input {
      padding-left: 0;
    }
    .name-control-input, 
    .last-control-input {
      margin: 0;
      padding-left: 0;
    }
    .first-control-name-input, 
    .last-control-name-input, 
    .company-control-name-input,
    .address-control-box,
    .email-control-box,
    .phone-box,
    .state-control-box,
    .city-control-box,
    .zip-control-box {
      font-size: 20px;
    }
    .email-control-input {
      margin: 0;
      padding-left: 0;
    }
    .phone-control {
      padding-left: 0;
    }
    .address-control-input {
      margin: 0;
      padding-left: 0;
    }
    .address-container {
      margin: 0;
    }
    .city-control-label {
      padding-left: 25px;
    }
    .zip-control-label {
      padding-left: 25px;
    }
    .map-button {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .page-control-banner {
      padding-top: 150px;
    }
    .traffic-control-heading {
      font-size: 96px;
    }
    .form-center {
      width: 95%;
    }
    .control-app-box {
      font-size: 70px;
    }
    .control-name, 
    .company-control-label,
    .emailphone-control-label,
    .address-control-label,
    .structure-control-label,
    .google-control-label,
    .message-control-label {
      font-size: 50px;
    }
    .first-control-input,
    .company-name--input,
    .emailphone-control-input{
      margin: 0;
      display: flex;
    }
    .first-name {
      margin-left: 0;
    }
    .last-control-name, .company-name--input {
      padding-left: 0;
    }
    .name-control-input, 
    .last-control-input {
      margin: 0;
      padding-left: 0;
    }
    .first-control-name-input, 
    .last-control-name-input, 
    .company-control-name-input,
    .address-control-box,
    .email-control-box,
    .phone-box,
    .state-control-box,
    .city-control-box,
    .zip-control-box {
      font-size: 20px;
    }
    .email-control-input {
      margin: 0;
      padding-left: 0;
    }
    .phone-control {
      padding-left: 0;
    }
    .address-control-input {
      margin: 0;
      padding-left: 0px;
    }
    .address-container {
      margin: 0;
    }
    .city-control-label {
      padding-left: 25px;
    }
    .zip-control-label {
      padding-left: 25px;
    }
    .map-button {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .page-control-banner {
      padding-top: 150px;
    }
    .traffic-control-heading {
      font-size: 96px;
    }
    .form-center {
      width: 95%;
    }
    .control-app-box {
      font-size: 70px;
    }
    .control-name, 
    .company-control-label,
    .emailphone-control-label,
    .address-control-label,
    .structure-control-label,
    .google-control-label,
    .message-control-label {
      font-size: 50px;
    }
    .first-control-input,
    .company-name--input,
    .emailphone-control-input{
      margin: 0;
      display: flex;
    }
    .first-name {
      margin-left: 0;
    }
    .last-control-name, .company-name--input {
      padding-left: 0;
    }
    .name-control-input, 
    .last-control-input {
      margin: 0;
      padding-left: 0;
    }
    .first-control-name-input, 
    .last-control-name-input, 
    .company-control-name-input,
    .address-control-box,
    .email-control-box,
    .phone-box,
    .state-control-box,
    .city-control-box,
    .zip-control-box {
      font-size: 20px;
    }
    .email-control-input {
      margin: 0;
      padding-left: 0;
    }
    .phone-control {
      padding-left: 0;
    }
    .address-control-input {
      margin: 0;
      padding-left: 0px;
    }
    .address-container {
      margin: 0;
      padding-right: 0%;
    }
    .zip-control-label {
      padding-left: 25px;
    }
    .map-button {
      margin-top: 30px;
      margin-bottom: 30px;
    }
}
