.material-box {
    content: normal;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    width: 1000px;
    border-radius: 10px;
    margin: auto;
}

.material-main {
    padding-bottom: 10px;
    background-color: aqua;
}
.material-image {
    background-color: #b4feff;
    text-align: center;
}

.material-container {
    background-color: aqua;
}

.material-slogan {
    font-size: 75px;
    text-align: center;
    font-family: "Kairos W04 Extended Bold"
}

.material-descript {
    margin-top: 15px;
    font-size: 25px;
    line-height: 30px;
    font-family: "Moveo Sans W00 Regular";
}

.main-material-container {
    background-color: aqua;
}

.custom-sign,
.custom-decal,
.custom-banner,
.custom-tshirts,
.custom-window-frost,
.custom-drywall,
.custom-graphic {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #07476D;
    border-radius: 30px;
    text-align: center;
}

.custom-sign-h1,
.custom-decal-h1,
.custom-banner-h1,
.custom-tshirts-h1,
.custom-window-frost-h1,
.custom-drywall-h1,
.custom-graphic-h1 {
    font-size: 100px;
    font-family: "Kairos W04 Extended Bold";
    text-align: center;
    color: #b4feff;
}

.custom-sign-form, 
.custom-decal-form, 
.custom-banner-form, 
.custom-tshirts-form, 
.custom-window-frost-form,
.custom-drywall-form, 
.custom-graphic-form {
    margin-top: 20px;
    padding-top: 10px;
    background-color: #07476D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-sign-button-arrow-down {
    background-color: #b4feff;
    position: relative;
    font-size: 60px;
    margin-bottom: 30px;
    display: block; /* Ensure block-level element */
    border-radius: 5px;
    border-color: #fff;
    color: #07476D;
    font-family: "Kairos W04 Extended Bold";
    padding: 20px;
    text-align: center;
}

 .custom-sign-button-arrow-up {    
background-color: #b4feff;
position: relative;
font-size: 60px;
margin-bottom: 30px;
margin: 0 auto;
display: block;
border-radius: 5px;
border-color: #fff;
color: #07476D;
font-family: "Kairos W04 Extended Bold";
padding: 20px;
text-align: center;
}

.image-sign-material-container, 
.image-decal-material-container,
.image-banner-material-container {
    display: block;
    flex-wrap: wrap; /* Allow wrapping to the next row */
  }
  
  .custom-sign-img, 
  .custom-decal-img,
  .custom-decal-img2,
  .custom-decal-img3,
  .custom-shirt-img,
  .custom-shirt-img2,
  .custom-frost-img,
  .custom-frost-img2,
  .custom-frost-img3,
  .custom-floor-img,
  .custom-contrete-img,
  .custom-drywall-img,
  .custom-drywall-img2,
  .custom-banner-img,
  .custom-banner-img2,
  .custom-graphic-img {
    /* Add any additional styling you need for the images */
    width: 30%; /* Adjust as needed */
    margin: 5px; /* Add some spacing between the images */
  }
  .custom-sign-h2,
  .custom-decal-h2,
  .custom-banner-h2,
  .custom-tshirts-h2,
  .custom-window-frost-h2,
  .custom-drywall-h2,
  .custom-graphic-h2 {
    font-size: 30px;
    font-family: "Moveo Sans W00 Regular";
    text-align: center;
    color:#b4feff
  }
  .custom-vehicle-decal-h2, 
  .custom-football-decal-h2,
  .custom-chrome-decal-h2 {
    font-family: "Kairos W01 Extended Medium";
    font-size: 45px;
    margin-bottom: 30px;
  }

.custom-sign-button-arrow-down:hover, .custom-sign-button-arrow-up:hover {    
    cursor: pointer;
    }

.material-video-banner {    
position: relative;
}

.material-page-video-banner {
    position: relative;
    display: block;
    margin: auto;
    object-fit: cover; /* Maintain aspect ratio */
    width: 120%;
    height: 440px;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}
.material-name-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.material-page-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2f2f2f;
    font-family: "Kairos W04 Extended Bold";
    font-size: 75px;
    text-align: center;
    background-color: aqua;
}

.material-decal-video-banner {  
    position: relative;
    display: block;
    margin: auto;
    object-fit: cover;
    width: 80%;
    height: 440px;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}
.window-frost-example-container {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.contacting-container {
    margin-top: 20px;
    text-align: center;
}
.contact-materialX {
    font-family: "Kairos W04 Extended Bold";
    color: #0042e9
}
.bryson-contact-link {
    font-family: "Kairos W04 Extended Bold";
    font-size: 10px;
    color: #042370;
    margin-top: 20px;
    text-align: center;
}
.will-contact-link {
    font-family: "Kairos W04 Extended Bold";
    font-size: 10px;
    color: #1841aa;
    margin-top: 20px;
    text-align: center;
}
@media screen and (min-width: 240px) and (max-width: 320px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .material-img {
        width: 100%;
    }
    .material-page-heading {
        font-size: 30px;
    }
    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .material-slogan {
        font-size: 30px;   
        line-height: 35px; 
    }
    .material-descript {
        text-align: center;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 90%;
    }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 20px;
    }
    .custom-sign-h2, 
    .custom-decal-h2, 
    .custom-banner-h2, 
    .custom-tshirts-h2, 
    .custom-window-frost-h2, 
    .custom-drywall-h2, 
    .custom-graphic-h2 {
        font-size: 20px;
    }
    .custom-sign-img, .custom-decal-img, .custom-banner-img {
        width: 70%;
        margin: 5px;
    }
    .custom-sign-button-arrow-down, .custom-sign-button-arrow-up {
        font-size: 60px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 240px) and (max-width: 320px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .material-img {
        width: 100%;
    }
    .material-page-heading {
        font-size: 40px;
    }
    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .custom-sign, .custom-decal, .custom-banner, .custom-tshirts, .custom-window-frost, .custom-drywall, .custom-graphic {
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #07476D;
        border-radius: 20px;
        text-align: center;
    }
    .material-slogan {
        font-size: 30px;   
        line-height: 35px; 
    }
    .material-descript {
        text-align: center;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 95%;
    }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 20px;
    }
    .custom-sign-h2, 
    .custom-decal-h2, 
    .custom-banner-h2, 
    .custom-tshirts-h2, 
    .custom-window-frost-h2, 
    .custom-drywall-h2, 
    .custom-graphic-h2 {
        font-size: 20px;
    }
    .custom-sign-img, .custom-decal-img, .custom-banner-img {
        width: 70%;
        margin: 5px;
    }
    .custom-sign-button-arrow-down, .custom-sign-button-arrow-up {
        font-size: 60px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 353px) and (max-width: 745px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .material-img {
        width: 100%;
    }
    .material-page-heading {
        font-size: 40px;
    }
    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .custom-sign, .custom-decal, .custom-banner, .custom-tshirts, .custom-window-frost, .custom-drywall, .custom-graphic {
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #07476D;
        border-radius: 20px;
        text-align: center;
    }
    .material-slogan {
        font-size: 30px;   
        line-height: 35px; 
    }
    .material-descript {
        text-align: center;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 95%;
    }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 30px;
    }
    .custom-sign-h2, 
    .custom-decal-h2, 
    .custom-banner-h2, 
    .custom-tshirts-h2, 
    .custom-window-frost-h2, 
    .custom-drywall-h2, 
    .custom-graphic-h2 {
        font-size: 20px;
    }
    .custom-sign-img, .custom-decal-img, .custom-banner-img {
        width: 70%;
        margin: 5px;
    }
    .custom-sign-button-arrow-down, .custom-sign-button-arrow-up {
        font-size: 60px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .custom-decal-img2 {
        width: 90%;
        margin-top: 10px;
    }
    .custom-decal-img3 {
        width: 90%;
        margin-top: 10px;
    }
    .custom-banner-img {
        width: 90%;
        margin-top: 10px;
    }
    .custom-banner-img2 {
        width: 90%;
        margin-top: 10px;
    }
    .custom-shirt-img, .custom-shirt-img2 {
        width: 90%;
        margin-top: 10px;
    }
    .custom-frost-img, .custom-frost-img2, .custom-frost-img3 {
        width: 90%;
        margin-top: 10px;
    }
    .custom-floor-img, .custom-contrete-img, .custom-drywall-img, .custom-drywall-img2 {
        width: 90%;
        margin-top: 10px;
    }
    .custom-graphic-img {
        width: 90%;
        margin-top: 10px;
    }
}
@media screen and (min-width: 360px) and (max-width: 640px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .material-img {
        width: 100%;
    }
    .material-page-heading {
        font-size: 50px;
    }
    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .custom-sign, .custom-decal, .custom-banner, .custom-tshirts, .custom-window-frost, .custom-drywall, .custom-graphic {
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #07476D;
        border-radius: 20px;
        text-align: center;
    }
    .material-slogan {
        margin-top: 10px;
        font-size: 50px;   
        line-height: 60px; 
    }
    .material-descript {
        text-align: center;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 95%;
    }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 45px;
    }
    .custom-sign-h2, 
    .custom-decal-h2, 
    .custom-banner-h2, 
    .custom-tshirts-h2, 
    .custom-window-frost-h2, 
    .custom-drywall-h2, 
    .custom-graphic-h2 {
        font-size: 20px;
    }
    .custom-sign-img, .custom-banner-img, .custom-banner-img2 {
        width: 40%;
        display: block;
        margin-left: 30px;
        flex-wrap: wrap;
    }
    
    .custom-sign-button-arrow-down, .custom-sign-button-arrow-up {
        font-size: 60px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .image-sign-material-container , .image-banner-material-container {
        max-width: 100%;
        margin-left: 50px;
        display: flex;
        margin-right: 50px;
    }
    .image-decal-material-container {
        max-width: 500%;
        margin-left: 100px;
        display: flex;
        margin-right: 50px;
    }
    .custom-decal-img {
        width: 40%;
    }
    .custom-decal-img2 {
        width: 90%;
    }
    .custom-decal-img3 {
        width: 30%;
        margin-left: 130px;
    }
    .custom-vehicle-decal-h2, .custom-football-decal-h2, .custom-chrome-decal-h2  {
        margin-right: 10px;
    }

}
@media screen and (min-width: 360px) and (max-width: 740px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .material-img {
        width: 100%;
    }
    .material-page-heading {
        font-size: 50px;
    }
    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .custom-sign, .custom-decal, .custom-banner, .custom-tshirts, .custom-window-frost, .custom-drywall, .custom-graphic {
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #07476D;
        border-radius: 20px;
        text-align: center;
    }
    .material-slogan {
        margin-top: 10px;
        font-size: 50px;   
        line-height: 60px; 
    }
    .material-descript {
        text-align: center;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 95%;
    }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 45px;
    }
    .custom-sign-h2, 
    .custom-decal-h2, 
    .custom-banner-h2, 
    .custom-tshirts-h2, 
    .custom-window-frost-h2, 
    .custom-drywall-h2, 
    .custom-graphic-h2 {
        font-size: 20px;
    }
    .custom-sign-img {
        width: 90%;
        margin-left: 30px;
    }
     .custom-banner-img, .custom-banner-img2 {
        width: 100%;
        display: block;
        margin-left: 10px;
    } 
    .custom-shirt-img, .custom-shirt-img2 {
        width: 90%;
        margin-top: 10px;
    }
    .custom-frost-img, .custom-frost-img2, .custom-frost-img3 {
        width: 90%;
        margin-top: 10px;
    }
    .custom-floor-img, .custom-contrete-img, .custom-drywall-img, .custom-drywall-img2 {
        width: 90%;
        margin-top: 10px;
    }
    .custom-graphic-img {
        width: 90%;
        margin-top: 10px;
    }
    .custom-sign-button-arrow-down, .custom-sign-button-arrow-up {
        font-size: 60px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .image-sign-material-container , .image-banner-material-container {
        max-width: 100%;
        margin-left: 50px;
        display: flex;
        margin-right: 50px;
    }
    .image-decal-material-container {
        max-width: 500%;
        margin-left: 100px;
        display: flex;
        margin-right: 50px;
    }
    .custom-decal-img {
        width: 90%;
    }
    .custom-decal-img2 {
        width: 90%;
    }
    .custom-decal-img3 {
        width: 50%;
        margin-left: 100px;
    }
    .custom-vehicle-decal-h2, .custom-football-decal-h2, .custom-chrome-decal-h2  {
        margin-right: 10px;
    }

}
@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .material-img {
        width: 100%;
    }
    .material-page-heading {
        font-size: 50px;
    }
    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .custom-sign, .custom-decal, .custom-banner, .custom-tshirts, .custom-window-frost, .custom-drywall, .custom-graphic {
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #07476D;
        border-radius: 20px;
        text-align: center;
    }
    .material-slogan {
        margin-top: 10px;
        font-size: 50px;   
        line-height: 60px; 
    }
    .material-descript {
        text-align: center;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 95%;
    }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 60px;
    }
    .custom-sign-h2, 
    .custom-decal-h2, 
    .custom-banner-h2, 
    .custom-tshirts-h2, 
    .custom-window-frost-h2, 
    .custom-drywall-h2, 
    .custom-graphic-h2 {
        font-size: 20px;
    }
    .custom-sign-img{
        width: 100%;
        display: block;
        margin-left: 10px;
        flex-wrap: wrap;
    } .custom-banner-img, .custom-banner-img2{
        width: 40%;
        display: block;
        margin-left: 30px;
        flex-wrap: wrap;
    } 
        
    
    
    .custom-sign-button-arrow-down, .custom-sign-button-arrow-up {
        font-size: 60px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .image-sign-material-container , .image-banner-material-container {
        max-width: 100%;
        margin-left: 50px;
        display: flex;
        margin-right: 50px;
    }
    .image-decal-material-container {
        max-width: 500%;
        margin-left: 100px;
        display: flex;
        margin-right: 50px;
    }
    .custom-decal-img {
        width: 40%;
    }
    .custom-decal-img2 {
        width: 90%;
    }
    .custom-decal-img3 {
        width: 60%;
        margin-left: 80px;
    }
    .custom-shirt-img, .custom-shirt-img2 {
        width: 40%;
        margin-left: 30px;
    }
    .custom-vehicle-decal-h2 {
        margin-left: 60px;
    } 
    .custom-football-decal-h2 {
        margin-right: 20px
    } .custom-chrome-decal-h2  {
        margin-left: 50px;
    }
    .custom-floor-img {
        width: 70%;
        margin-left: 10px;
    }
    .custom-contrete-img {
        width: 70%;
        margin-left: 10px;
    }
    .custom-drywall-img, .custom-drywall-img2 {
        width: 45%;
        margin-left: 10px;
    }

    .custom-graphic-img {
        width: 70%;
        margin-left: 10px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
   .main-material-container {
    width: 100%;
   }
   .material-box {
    width: 95%;
   }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 70px;
    }
    .custom-decal-img2 {
        width: 90%;
        margin-left: 10px;
    }
    .custom-banner-img, .custom-banner-img2 {
        width: 40%;
        margin-left: 30px;
    }
    .custom-shirt-img, .custom-shirt-img2 {
        width: 40%;
        margin-left: 30px;
    }
    .custom-floor-img {
        width: 70%;
        margin-left: 10px;
    }
    .custom-contrete-img {
        width: 70%;
        margin-left: 10px;
    }
    .custom-drywall-img, .custom-drywall-img2 {
        width: 45%;
        margin-left: 10px;
    }
    .custom-graphic-img {
        width: 70%;
        margin-left: 10px;
    }
}